body {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.home-page {
    background-color: #F5FDFF;
    display: flex;
    justify-content: center;
}

.home-page__container {
    width: 415px;
}

.home-page__title-container {
    background-color: #11346F;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.home-page__title {
    color: #F6F8FC;
    font-size: 14px;
    font-weight: 800;
}

.home-page__header-container {
    height: 52px;
    background-color: #F5FDFFCC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgba(189, 195, 199, 0.2);
    width: 100%;
}

.home-page__header-container div span {
    display: none;
}

.home-page__nav-btn {
    display: none;
}

.home-page__main-container {
    position: relative;
    margin: 0px;
    background-color: #F5FDFF;
    height: auto;
}

.home-page__titlehead {
    margin: 0px 0 0 17px;
    padding-top: 13px;
    width: 213px;
    height: 156px;
}

.home-page__titlehead p {
    color: #213786;
    font-size: 26px;
    margin-top: 0px;
    font-weight: 600;
    margin-bottom: 0px;
}

.home-page__titlehead p span {
    color: #197AFF;
    font-weight: 800;
}

.home-page__titlehead-underline {
    position: absolute;
    top: 148px;
}

.home-page__titlehead-curly {
    position: absolute;
    top: 127px;
    left: 117px;
}

.home-page__titlehead-blue-arrow {
    position: absolute;
    left: 192.45px;
    bottom: 35px;
}

.home-page__massagers {
    position: absolute;
    top: 36px;
    left: 226px;
}

.home-page__desktop-massagers {
    display: none;
}

.home-page__shadow-first {
    position: absolute;
    left: 210px;
    bottom: 20px;
}

.home-page__shadow-second {
    position: absolute;
    bottom: 0px;
    left: 260px;
}

.home-page__p-container {
    background-color: #F5FDFF;
}

.home-page__p-container p {
    padding: 10px 0 0 26px;
    text-align: center;
    width: 378px;
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}
.home-page__p-container p span {
    display: none;
}

.home-page__dekstop-p {
    display: none;
}

.home-page__categories-container {
    background-color:#F5FDFF;
    height: auto;
}

.home-page__categories {
    margin-left: 25px;
    padding-top: 30px;
    display: flex;
    width: 365px;
    justify-content: space-between;
}

.home-page__categories-head {
    width: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page__categories-head__icon {
    position: relative;
    width: 27px;
    height: 31px;
}

.home-page__categories-head__icon-dot {
    position: absolute;
    left: -3px;
    top: 30px;
}

.home-page__categories-head__icon-dot2 {
    position: absolute;
    top: 30px;
    right: -4px;
}

.home-page__categories-head__icon-line {
    position: absolute;
    left: -3px;
    top: 21px;
}

.home-page__categories-head__icon-line2 {
    position: absolute;
    left: 0px;
    top: 22px;
}

.home-page__categories-head__icon-line3 {
    position: absolute;
    top: 21px;
    left: 24px;
}

.home-page__categories-head__icon-line4 {
    position: absolute;
    top: 23px;
    left: 22px;
}

.home-page__categories-head__icon-thunder {
    position: absolute;
    left: -5px;
}

.home-page__categories-head__icon-thunder2 {
    position: absolute;
}

.home-page__categories-head__icon-hair {
    position: absolute;
    left: 7px;
}

.home-page__categories-head__span span {
    margin-top: 12px;
    display: flex;
    width: 55px;
    color: #11346F;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}

.home-page__categories-body__icon {
    width: 35.22px;
    height: 35.22px;
    position: relative;
    margin-bottom: 6px;
}

.home-page__categories-body__icon-circle {
    position: absolute;
    top: 16px;
    left: 14px;
}

.home-page__categories-body__icon-thunder {
    position: absolute;
    top: 9px;
    left: 21px;
}

.home-page__categories-body__icon-thunder2 {
    position: absolute;
    top: 13px;
    left: 23px;
}

.home-page__categories-body__span span {
    margin-top: 10px;
    display: flex;
    width: 55px;
    color: #11346F;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}

.home-page__categories-kid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page__categories-kid__icon {
    width: 29px;
    height: 38px;
    position: relative;   
    padding-bottom: 0px;
}

.home-page__categories-kid__icon-hair {
    position: absolute;
    left: 5.5px;
}

.home-page__categories-kid__span span {
    margin-top: 8px;
    display: flex;
    width: 55px;
    color: #11346F;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}

.home-page__categories-pet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page__categories-pet__icon {
    position: relative;
    width: 42px;
    height: 40px;
}

.home-page__categories-kid__icon-nose {
    position: absolute;
    top: 15px;
    left: 17px;
}

.home-page__categories-pet__span span {
    margin-top: 8px;
    display: flex;
    width: 55px;
    color: #11346F;
    font-size: 12px;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
}

.home-page__categories-description {
    display: none;
}

.home-page__blue-btn {
    margin: 20px 0 0 18px;
    width: 377px;
    height: 63px;
    border-radius: 60px;
    border: 0px;
    background-color: #197AFF;
}

.home-page__blue-btn span {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

.home-page__gray-btn {
    width: 228px;
    height: 34px;
    background-color: rgba(77, 145, 207, 0.15);
    border: 0px;
    border-radius: 30px;
    margin: 16px 0 0 93px;
}

.home-page__gray-btn p {
    margin: 0px;
    color: black;
    font-size: 13px;
    font-weight: 500;
}

.home-page__gray-btn p span {
    color: #197AFF;
    font-weight: 700;
}

.home-page__customer-container {
    display: flex;
    margin: 16px 0 0 18px;
    width: 377px;
    height: 81px;
    border: 1px solid rgba(174, 204, 255, 0.5);
    border-radius: 110px;
    background-color: rgba(234, 242, 255, 0.1);
}

.home-page__customer-img {
    border-radius: 30px;
    margin: 8px 14px 9px 9px;
}

.home-page__customer-comment-container {
    margin: 13px 39px 9px 0;
}

.home-page__customer-comment-container p {
    color: #000000;
    margin: 0;
    font-size: 12px;
    font-weight: 700;
}

.home-page__customer-rate {
    margin-top: 9px;
}

.home-page__customer-rate img {
    margin-right: -3px;
}

.home-page__customer-rate-container {
    display: flex;
    width: 300px;
}

.home-page__customer-rate-container span {
    margin: 10px 15px 10px 8px;
    font-size: 12px;
    font-weight: 600;
    color: #787979;
}

.home-page__customer-verification {
    margin: 10px 0 0 0;
    display: flex;
}

.home-page__customer-verification {
    margin-right: 5px;
}

.home-page__customer-verification p {
    margin: 1px 0 0 5px;
    color: #197AFF;
    font-size: 11px;
    font-weight: 800;
}

.home-page__ending {
    height: 28px;
}

@media only screen and (min-width: 1440px) {
    .home-page__container {
        width: 1440px;
        background-color: #FBFBFB;
    }
    .home-page__title-container p span {
        margin-left: 12px;
    }
    .home-page__header-container {
        justify-content: space-evenly;
        margin-bottom: 63px;
    }
    .home-page__header-container div {
        display: flex;
        justify-content: space-between;
        width: 515px;
    }
    .home-page__header-container div span {
        cursor: pointer;
        display: block;
        font-size: 16px;
        color: #11346F;
        font-weight: 600;
    }
    .home-page__header-container div span:active {
        font-weight: 700;
    }
    .home-page__nav-btn {
        cursor: pointer;
        display: block;
        width: 165px;
        height: 42px;
        border-radius: 60px;
        border: 0px;
        background-color: #197AFF;
    }
    
    .home-page__nav-btn span {
        color: #FFFFFF;
        font-size: 14px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;
    }
    .home-page__main-container {
        height: 57px;
        margin-bottom: 30px;
        background-color: #FBFBFB;
    }
    .home-page__titlehead {
        margin-left: 100px;
    }
    .home-page__titlehead p {
        width: 911px;
        height: 57px;
        font-size: 42px;
    }
    .home-page__titlehead br {
        display: none;
    }
    .home-page__titlehead-underline {
        width: 171px;
        height: 6px;
        top: 70px;
        left: 835px;
    }
    .home-page__titlehead-curly {
        transform: rotatex(180deg);
        top: 15px;
        left: 1010px;
    }
    .home-page__titlehead-blue-arrow {
        transform: rotate(120deg);
        left: 1086px;
        top: 50px;
    }
    .home-page__massagers   {
        display: none;
    }
    .home-page__shadow-first {
        display: none;
    }
    .home-page__shadow-second {
        display: none;
    }
    .home-page__desktop-massagers {
        display: block;
        position: absolute;
        width: 391px;
        height: 241px;
        right: 87px;
        top: 120px;
    }
    .home-page__p-container {
        display: none;
    }
    .home-page__dekstop-p {
        display: block;
        margin-left: 100px;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
    }
    .home-page__categories-container {
        width: 800px;
        height: 152px;
        margin-left: 100px;
    }
    .home-page__categories {
        margin: 30px 0 0 0;
        padding: 15px 0 0 0;
        width: 800px;
        background: rgba(174, 204, 255, 0.1);
        border: 1px solid rgba(174, 204, 255, 0.5);
        border-radius: 10px;
    }
    .home-page__categories-head {
        width: 180px;
        padding-left: 15px;
    }
    .home-page__categories-head, .home-page__categories-body, 
    .home-page__categories-kid, .home-page__categories-pet {
        justify-content: center;
        align-items: center;
    }
    .home-page__categories-head__span, .home-page__categories-body__span, 
    .home-page__categories-kid__span, .home-page__categories-pet__span {
        margin-top: 15px;
        color: #11346F;
        font-size: 14px;
        font-weight: 800;
    }
    .home-page__categories-head__span span, .home-page__categories-body__span span, 
    .home-page__categories-kid__span span, .home-page__categories-pet__span span{
        display: flex;
        justify-content: center;
        width: 180px;
        margin: 0;
    }
    .home-page__categories-head__span span br, .home-page__categories-body__span span br, 
    .home-page__categories-kid__span span br, .home-page__categories-pet__span span br {
        display: none;
    }
    .home-page__categories-description {
        display: block;
    }
    .home-page__categories-description ul {
        width: 150px;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5px;
    }
    .home-page__categories-description ul li {
        color: #262626;
        font-size: 12px;
        line-height: 20px;
        font-weight: 600;
    }
    .vertical-line {
        height: 117px;
        width: 1px;
        background-color: #CEE2FF;
    }
    .home-page__categories-body__icon {
        left: 70px;
    }
    .home-page__categories-body-description {
        margin-left: 15px;
    }
    .home-page__blue-btn {
        margin: 52px 0 0 100px;
    }
    .home-page__gray-btn {
        position: absolute;
        top: 115px;
        left: 80px;
    }
    .home-page__customer-container {
        margin-left: 985px;
        margin-top: -20px;
    }
    .home-page__btn-container {
        position: relative;
    }
}   