body {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
}

.review-page {
    background-color: #F6F8FC;
    display: flex;
    justify-content: center;
}

.review-page__container {
    width: 415px;
}

.review-page__title {
    padding: 28px 0 50px 16px;
    position: relative;
}

.review-page__title p {
    line-height: 40px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #11346F;
}
.review-page__title p span {
    color: #197AFF;
}

.review-page__title img {
    position: absolute;
    top: 113px;
    left: 132px;
}

.review-page__rate {
    margin-left: 18px;
    width: 380px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
}

.review-page__rate-stars {
    display: flex;
    align-items: center;
    margin-bottom: 7px;
}

.review-page__rate-star {
    margin-right: 5px;
}

.review-page__rate-review span {
    color: #11346F;
    font-size: 14px;
    font-weight: 800;
}

.review-page__rate-btn {
    width: 133px;
    height: 40px;
    background-color: #F6F8FC;
    border: 1px solid #213786;
    border-radius: 5px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.review-page__rate-btn {
    font-size: 14px;
    color: #11346F;
    font-weight: 500;
}

.review-page__reviews {
    margin-left: 18px;
    display: flex;
    overflow: hidden;
    margin-bottom: 22px;
}

.review-page__review {
    min-width: 285px;
    height: 434px;
    background-color: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 10px;
    margin-right: 30px;
    overflow: hidden;
}

.review-page__review-description {
    display: flex;
    margin: 30px 0 19px 13px;
    align-items: flex-start;
}

.review-page__review-description-name {
    margin:0px 30px 0px 0px;
}

.review-page__review-description-name span {
    color: #11346F;
    font-size: 14px;
    font-weight: 800;
}

.review-page__review-description-stars {
    margin-top: 6px;
}

.review-page__review-description-verification {
    display: flex;
    align-items: center;
}

.review-page__review-description-verification img {
    margin-right: 8.75px;
}

.review-page__review-description-verification span {
    color: #89C25F;
    font-size: 11px;
    font-weight: 800;
}

.review-page__ravew-paragraph {
    width: 250px;
    margin-left: 18px;
}

.review-page__ravew-paragraph {
    color: #262626;
    font-size: 13px;
    font-weight: 600;
    line-height: 26px;
}

#review-page__review-4 {
    display: none;
}

.review-page__review-dots {
    width: 415px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 32px;
}

.review-page__review-dots div {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #CBCED6;
    cursor: pointer;
}

.review-page__review-dots div:active {
    background-color: #197AFF;
}

#review-dot1 {
    background-color: #197AFF;
}

@media only screen and (min-width: 1440px) {
    .review-page__container {
        width: 1440px;
    }
    .review-page__title {
        margin: 50px 0 55px 0;
    }
    .review-page__title p {
        font-size: 37px;
    }
    .review-page__title p br {
        display: none;
    }
    .review-page__title img {
        width: 226px;
        height: 6px;
        left: 860px;
        top: 75px;
    }
    .review-page__rate {
        width: 1230px;
        margin-left: 100px;
    }
    .review-page__rate-review {
        display: flex;
        align-items: center;
    }
    .review-page__rate-review span {
        margin-left: 7px;
        margin-bottom: 5px;
    }
    #review-page__review-4 {
        display: block;
    }
    .review-page__review-dots {
        display: none;
    }
    .review-page__reviews {
        margin-bottom: 62px;
    }
    .review-page__review{
        width: 285px;
        height: 472px;
    }
    .review-page__review-img {
        height: 169px;
    }
    .review-page__review-description {
        margin-bottom: 10px;
    }
}
