body {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

p {
    margin: 0;
}

.sales-page {
    background: linear-gradient(118.72deg, #AECCFF 18.14%, #197AFF 165.34%);
    display: flex;
    justify-content: center;
}

.sales-page__container {
    width: 415px;
}

.sales-page__header {
    height: 101px;
    background-color: #11346F;
    display: flex;
    justify-content: space-evenly;
}

#blue-star {
    display: none;
}

.sales-page__header-discount {
    padding-top: 11px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sales-page__header__icon-container {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sales-page__header-discount p {
    margin-top: 7px;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 800;
    vertical-align: middle;
    text-align: center;
}

.sales-page__title {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sales-page__title p {
    margin-bottom: 5px;
    color: #11346F;
    font-size: 30px;
    font-weight: 700;
}

.sales-page__title span {
    margin-bottom: 10px;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
}

.sales-page__title img {
    margin-left: -7px;
}

.sales-page__cards {
    margin: 55px 0 0px 18px;
}

.sales-page__card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 378px;
    background: linear-gradient(180deg, #FFFFFF 0%, #D7E6FF 100%);
    border: 1.5px solid #197AFF;
    border-radius: 18px;
    margin-left: -8px;
    margin-bottom: 70px;
}

.sales-page__card-massager-popular {
    margin-top: -25px;
    margin-bottom: 20px;
    z-index: 1;
}

.sales-page__card-bluline-popular {
    position: absolute;
    top: 24px;
    left: 234px;
}

.sales-page__card-badge {
    width: 126px;
    height: 28px;
    border: 0px;
    border-radius: 50px;
    background-color: #57AC73;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.sales-page__card-badge p {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 700;
}

.sales-page__card-offer {
    position: relative;
    display: flex;
    margin: 0px 25px 25px 25px;
}

.sales-page__card-offer p {
    color: #11346F;
    font-size: 24px;
    font-weight: 600;
    margin-right: 5px;
}

.sales-page__card-offer span {
    color: #197AFF;
    font-size: 24px;
    font-weight: 600;
}

.sales-page__card-offer img {
    position: absolute;
    top: 35px;
    left: 75px;
}

.sales-page__card__free-shipping {
    display: none;
}

.sales-page__card-prices {
    position: relative;
    display: flex;
    margin-bottom: 22px;
}

.sales-page__card-prices p {
    font-size: 25px;
    font-weight: 800;
    color: #11346F;
    margin-right: 15px;
}

.sales-page__card-prices span {
    font-size: 25px;
    font-weight: 800;
    color: #93A2BB;
}

.sales-page__card-prices img {
    position: absolute;
    top: 15px;
    left: 105px;
}

.sales-page__card-installments {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.sales-page__card-installments p {
    color: #11346F;
    font-size: 11px;
    font-weight: 800;
    margin-right: 13px;
}

.sales-page__card-installments p span {
    color: #000000;
    font-weight: 800;
}

.sales-page__card-installments__afterpay {
    position: relative;
    display: flex;
    align-items: center;
    width: 77px;
    height: 17.11px;
    border: 0px;
    border-radius: 40px;
    background-color: #BCF5E3;
}

.sales-page__card-installments__afterpay span {
    color: #000000;
    font-size: 9px;
    font-weight: 800;
    margin-right: 2px;
    margin-left: 13px;
}

.sales-page__card-installments__afterpay img {
    position: absolute;
    left: 52px; 
    top: 5px;    
}

.sales-page__card-offers {
    position: relative;
    width: 342px;
    height: 77px;
    border: 1px solid #AECCFF;
    border-radius: 19px;
    margin-bottom: 25px;
}

.sales-page__card-offers-save {
    position: absolute;
    top: 0;
    left: 0;
    width: 180.2px;
    height: 36px;
    background-color: #BFF5BE;
    border: 1px solid #99D298;
    border-radius: 48px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sales-page__card-offers-save span {
    font-size: 12px;
    font-weight: 700;
    color: #11346F;
}

.sales-page__card-special-price {
    position: absolute;
    top: 0;
    right: 0;
    width: 185px;
    height: 36px;
    background-color: #F0F6FF;
    border: 1px solid #AECCFF;
    border-radius: 80px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.sales-page__card-special-price span {
    font-size: 12px;
    font-weight: 700;
    color: #11346F;
    margin-right: 25px;
}

.sales-page__card-special-offer {
    display: none;
}

.sales-page__card-offers img {
    position: absolute;
    top: 45px;
    left: 80px;
}

.sales-page__card-offers p {
    color: #11346F;
    font-size: 12px;
    font-weight: 700;
    position: absolute;
    top: 47px;
    left: 106px;
}

.sales-page__card-btn {
    width: 353px;
    height: 48px;
    background-color: #197AFF;
    box-shadow: 0px 7px 14px rgba(25, 122, 255, 0.5);
    border: 0px;
    border-radius: 60px;
    margin-bottom: 15px;
    cursor: pointer;
}

.sales-page__card-btn span {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 800;
}

.sales-page__card-payments {
    width: 316px;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 19px;
}

.sales-page__card-payments img {
    margin: 0;
}

#sales-page__card-badge__best-value {
    background-color: #AC5780;
    width: 100px;
    margin-top: -10px;
}

.sales-page__card-massager-single {
    margin: 27px 0 33px 0;
}

#sales-page__card-offer__single {
    margin-bottom: 20px;
}

#sales-page__card-prices__single {
    margin-bottom: 10px;
}

#sales-page__card-best-value {
    margin-bottom: 41px;
}

.sales-page__ending {
    height: 63px;
}

#sales-page__card-single {
    margin-bottom: 0px;
}

@media only screen and (min-width: 1440px) {
    .sales-page__container {
        width: 1440px;
    }
    .sales-page__title p, .sales-page__title span {
        font-size: 37px;
    }
    .sales-page__title img {
        width: 303px;
    }
    .sales-page__cards {
        display: flex;
        width: 1198px;
        justify-content: space-between;
        margin-left: 119px;
    }
    .sales-page__card {
        width: 368px;
        height: 500px;
    }
    #blue-star {
        display: flex;
    }
    #blue-star-icon {
        width: 33px;
        height: 32px;
    }
    .sales-page__header-discount {
        flex-direction: row;
        width: 416px;
        justify-content: center;
        align-items: center;
    }
    .sales-page__header-discount p br {
        display: none;
    }
    .sales-page__header__icon-container {
        width: 50px;
        height: 50px;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
    }
    .sales-page__header__icon-img {
        height: 37px;
        width: 37px;
    }
    .sales-page__header__icon-truck {
        width: 33px;
        height: 27px;
    }
    .sales-page__card__free-shipping {
        display: block;
        font-size: 13px;
        color: #11346F;
        font-weight: 700;
        margin: -18px 0 15px -100px;
    }
    .sales-page__card-special-price-span {
        display: none;
    }
    .sales-page__card-special-offer {
        display: flex;
        align-items: center;
        width: 151px;
        margin-right: 8px;
    }
    .sales-page__card-special-offer img {
        position: static;
        margin-right: 8px;
    }
    .sales-page__card-special-offer span {
        font-size: 12px;
        font-weight: 700;
        margin-right: 0px;
    }
    .sales-page__card-massager-popular {
        margin-bottom: 24px;
    }
    #sales-page__card-badge__best-value {
        margin-top: 0px;
    }
    .sales-page__card-massager-single {
        margin: -20px 0 70px 0;
    }
    #sales-page__card-single__special-offer {
        margin: 35px 0 40px 0;
    }
    .sales-page__card {
        height: 530px;
    }
    #sales-page__card-single__installments {
        margin-bottom: 36px;
    }
    .sales-page__card-btn {
        margin-bottom: 22px;
    }
    #sales-page__card-single__free-shipping {
        margin: -5px 0 0 -20px;
    }
    .sales-page__card-offer p, .sales-page__card-offer span {
        font-size: 30px;
    }
    .sales-page__card-prices p, .sales-page__card-prices span {
        font-size: 32px;
    }
    .sales-page__card-btn {
        height: 48px;
    }
}